* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: rgb(19, 134, 211);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}
